@import "tailwindcss";
@plugin "daisyui";


body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  background-color: #F5F5F5;
  font-style: normal;
}

 html, body {
  overflow-y: scroll;
}
